html {overflow-y: scroll;}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#background {
    z-index: -100;
}

#entities {
    z-index: -99;
}

#foreground {
    z-index: -98;
}

body {
    margin: 0;
}

#page {
    margin: auto;
    width: 1000px;
}

#content {
    position: relative;
}

#canvas-container {
    position: relative
}

#content div {
	margin-top: 20px;
    position: absolute;
	display: none;
	background: white;
	border: 10px black solid;
	padding: 20px;
}
