html {overflow-y: scroll;}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#background {
    z-index: -100;
}

#entities {
    z-index: -99;
}

#foreground {
    z-index: -98;
}

body {
    margin: 0;
    background: url('dark-tex.png') repeat;
    font-family: Helvetica, sans-serif;
    color: white;
}

#page {
    margin: 20px auto;
    width: 1000px;
}

#content {
    position: relative;
    color: black;
}

#canvas-container {
    position: relative
}

#content div {
    margin: 20px;
    position: absolute;
    display: none;
    background: white;
    border: 10px black solid;
    padding: 20px;
    width: 860px;
}

#about-me img {
    float: right;
}

#social-links {
    text-align: right;
    margin-right: 40px;

}

